
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <h4 class="footer__copyright">© Copyright by <span class="footer__sec">Shubham Mahajan. </span></h4>
  </div>
</div>
</body>
</html>
